@import './../styles/variables.module.scss';
@import './../styles/_postStyle.module.scss';

.items {
  display: flex;
  flex-direction: column;
}
.author{
  font-weight: bold;
}
.post {
  @include postItemText;
  margin-bottom: 10px;
}