.newPost button {
  padding: 7px 16px 8px;
  margin: 0;
  font-size: 15px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: 'Playfair Display', serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #9e7cfc; 
  color:white;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  }
.newPost {
  padding-bottom : 20px;
}
.newPost textarea {
  resize: none;
}
