@import './variables.module.scss';
@import './borderStyle.module';

@mixin post {
  padding-bottom : 20px;
  width: 630px;
}
@mixin textarea {
  resize: none;
}
@mixin postAvatar {
  width: 50px;
  height: 50px;
  @include border-radius(50px);
}
@mixin postItemText {
 padding: 10px;
 background-color: $navColor;
 @include border-radius(5px);
}