.studentsForm {
  display: flex;
  justify-content: center
}
.addButton {
  padding: 0 20px;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.techArea .addButton {
  width: 300px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.memberArea{
  padding: 20px;
  display: flex;
  flex-direction: row;
}
input {
  line-height: 20px;
}
.techArea {
  padding: 5px;
  width: 500px;
}
.error {
  border: 1px solid violet;
}
.field{
  display: flex;
  width : 300px;
  padding: 5px;
}
a img {
  width : 30px;
  height: 30px;
}
