.avatar {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.avatar img {
  height: 150px;
  border-radius: 10px;
}
.description {
  display: flex;
  flex-direction: column;
}
.description span {
  font-size: 17px;
}
.setStatus {
  display: none;
}