@import './../Styles/postStyle.module';
@import './../Styles/variables.module.scss';

.wrapper{
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-template-rows: 6fr;
  margin-top: 20px;
}
.userItem{
  display: flex;
  flex-direction: column;
  @include postItemText;
  margin: 0 10px 10px;
}
.userAvatar {
    @include postAvatar;
    margin:5px;
}
.avatarBlock{
  display: flex;
  flex-direction: row;
  align-content: center;
}
.filterItem{
  display: flex;
  flex-direction: column;
  margin: 0px  20px;
}
.avatarBlock a{
  text-decoration: none;
  color: $anchor;
  font-weight: bold;
}
.preloader{
  display: flex;
  align-self: center;
  justify-self: center;
}


