.app-wrapper {
     /* background: linear-gradient(to right, #8706a1 0, #d40cdb 25%, #f004a9 40%, #f50e66 70%, #ff0000 80%, #f70000 100%); */
     background: linear-gradient(to right, #8706a1 0, #d40cdb 45%, #f004a9 70%, #f50e66 100%);
     margin: 0;
     display: grid;
     grid-template-rows: 60px 12fr;
     grid-template-columns: 1fr 10fr;
     grid-template-areas: "h  h " " n c ";
     font-family: 'Playfair Display', serif;
     font-size: 21px;
     letter-spacing: 2px;
}
.app-wrapper-content {
     grid-area: c;
     color: white;
}