@import './../Styles/postStyle.module';
@import './../Styles/variables.module.scss';
.dialogs {
 display: grid ;
 grid-template-columns: 1fr 2fr ;
 grid-template-areas: 
 "d  m " 
 " w .";
 padding-top: 20px;
}
.dialogs {
  grid-area: d
}
.dialogs a {
    text-decoration: none;  
  }
.dialogs img {
    @include postAvatar;
    margin-right: 5px;
  }
.dialog {
    margin: 10px;
}

.message {
    margin: 10px;
    @include postItemText;
} 
.messages {
  grid-area: m
}
.writeMessage{
  grid-area: w;
  margin: 10px;
}
textarea {
    resize: none;
  }