.dialogs {
 display: grid ;
 grid-template-columns: 1fr 2fr 1fr;
 padding-top: 20px;
}
.dialogs a {
    text-decoration: none;
   
  }
.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }
.dialog {
    border-right: 1px solid black;
    margin: 10px;
}

.message {
    margin: 10px;
} 
.dialogsItem a.active {
  color: #9e7cfc
}
button {
  padding: 7px 16px 8px;
  margin: 0;
  font-size: 15px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: 'Playfair Display', serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #9e7cfc; 
  color: white; 
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  }
  textarea {
    resize: none;
  }