.item {
  padding-bottom: 20px;
  color: white;
}
.item img {
  width: 500px;
}
.likeButton {
  font-size: 18px;
  vertical-align: middle;
}
.likeButton img {
  width: 24px;
  height: 24px;
  background: no-repeat;
  }