.nav {
  grid-area: n;
  background-color: #94c5e6;
  padding: 10px 20px;
  margin: 10px 0px 10px 50px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  color: #ad7cfc;
}

.item {
  margin: 15px;
}

.item a {
  text-decoration: none;
  color: white;
}

.item a.active {
  color: rgb(68, 0, 255);
}

.friends {
  margin-top: 40px;
}

.friends img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 5px;
}